<div class="main">
    <div class="container">
        <img class="bg-image" src="https://wallpapers.com/images/hd/music-festival-6000-x-4000-wallpaper-8n0a56wtyd3dcld8.jpg" alt="Bg image">
    </div>
    <div class="container-2">
        <h2>Application Programming Interface</h2>
        <p>Youtube <a href="https://developers.google.com/youtube/v3">API</a> system is a tools provided by YouTube</p>
        <p>that allows developers to access and interect with Youtube data and functionally programmatically.</p>
        <p>Developers can use these APIs to create a wide range of applications, such as video management tools, analytics dashboards, content curation platforms, video streaming services, and more</p>
        <p>The YouTube API system provides developers with access to rich functionality and data from the YouTube platform, enabling them to create innovative and customized experiences for users.</p>
    </div>
</div>
