<div class="main">
    <div class="container">
        <h1>Year In Music</h1>
        <img class="bg-image" src="./assets/home-baru.png" alt="Bg image">
    </div>
</div>

<div class="container d-flex justify-content-center">
        <div class="col-md-8">
            <h2 class="mt-4 mb-3">Trending video now</h2>
            <div class="row">
                <div class="col-md-12">
                   <div class="card mb-4 shadow-sm" *ngFor="let video of trendingVideos">
                        <a [href]="'https://www.youtube.com/watch?v=' + video.id" target="_blank">
                        <img [src]="video.snippet.thumbnails.default.url" alt="Video thumbnail" class="card-img-top" alt="video thumbnail">
                        </a>
                        <div class="card-body">
                        <h3>{{ video.snippet.title }}</h3>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
</div>